backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
bokeh==0.11.1
dill==0.2.1
Flask==0.10.1
futures==3.0.3
gunicorn==19.3.0
itsdangerous==0.24
Jinja2==2.7.2
MarkupSafe==0.23
numpy==1.10.4
oauth==1.0.1
oauthlib==0.7.2
pandas==0.18.0
python-dateutil==2.4.2
pytz==2015.7
PyYAML==3.11
Quandl==2.8.9
requests==2.9.1
simplejson==3.8.0
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
Werkzeug==0.11.4
